@model IEnumerable<AnimalsViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Назва</th>
            <th scope="col">Дата народження</th>
            <th scope="col">Фото</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.BirthDay</td>
                <td>
                    <img src="/images/@item.Image"
                         width="150"
                         alt="img" />
                </td>
                <td class="align-middle text-left"
                    style="font-size: 30px">

                    <a href="#" class="text-danger text-decoration-none"
                       data-delete-animal data-id="@item.Id">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="text-primary text-decoration-none">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }


    </tbody>
</table>