@model IEnumerable<AnimalsViewModel>
@{ 
    ViewData["Title"] = "Тварини";
}
<h1>Список тварин</h1>
<a asp-action="Create" class="btn btn-success">Додати</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Назва</th>
            <th scope="col">Дата народження</th>
            <th scope="col">Фото</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.BirthDay</td>
                <td>
                    <img src="@item.Image" 
                         width="150"
                         alt="img" />
               </td>
                <td>
                    <a href="#"></a>
                </td>
            </tr>
        }

        
    </tbody>
</table>