@model UserNavbarInfoViewModel

<div class="row">
    <div class="col-md-12">
        <img src="@Model.Image" width="50px;" alt="Alternate Text" class="rounded-circle" />
        <b class="text-light">@Model.FullName</b>
    </div>
</div>
